
<div class="cont">
  <div *ngFor=" let user of users " class="user-card">
      <img [src]="user.avatar" alt="User Avatar">
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      <p>{{ user.email }}</p>
      <button [routerLink]="['/user', user.id]">See More</button>
    </div>
  </div>






<div class="pc-history">
    <h1>PC History</h1>
    <p>
      Personal computers (PCs) are essential tools in todays world. Whether for work, study, or entertainment, PCs offer versatility and power for all your tasks. From browsing the web to running complex software, a PC helps you stay productive and connected.
      <br><br>
      <strong>Performance and Customization</strong><br>
      Modern PCs provide fast performance, with options to suit every need. Whether it's a laptop for portability or a powerful desktop for gaming and work, PCs are customizable to meet specific requirements.
      <br><br>
      <strong>A Creative Hub</strong><br>
      For creative professionals, PCs offer the right tools for design, video editing, and more. They are flexible and support a wide range of applications, making them perfect for bringing ideas to life.
    </p>
  
    <img [src]="pc" src="" alt="PC Image">
  </div>
  